.home > img{
    object-fit: contain;
    width: 100%;
    max-height: 500px;
}

.home__form {
    height: 100px;
    padding: 10px;
    max-width: 300px;
    margin: 10px auto;
}

form {
    height: 30px;
    width: 100%;
}

form > select {
    margin-bottom: 5px;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

form > button {
    border-radius: 4px;
    height: 100%;
    width: 100%;
    font-weight: bold;
    background: white;
}

form > button:hover {
    background: rgb(0, 255, 242);
}